div {
    font-size: smaller
}
.pwd-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  .pwd-h2 {
    margin: 10px;
  }
  .pwd-margin {
    margin: 0 10px;
  }