<h1>Angular 5 Hands-on: Password Strength
</h1>
<form class="pure-form" onsubmit="return false">
    <input type="text" size="10" name="password" [(ngModel)]="password" />
    <button
      type="button" (click)="checkPassword()"
      class="pure-button pure-button-primary">Check</button>
    <button
      type="button" (click)="resetPassword()"
      class="pure-button">Reset</button>
</form>
<p>{{message}}</p>
<ul>
  <li *ngFor="let msg of messages">
    {{ msg }}
  </li>
</ul>
<mat-card>
  <mat-card-content>
    <h2 class="pwd-h2">Password Strength</h2>

    <section class="pwd-section">
      <mat-progress-bar
          class="pwd-margin"
          [color]="color"
          [mode]="determinate"
          [value]="val"
          [bufferValue]="bufferValue">
      </mat-progress-bar>
      </section>
      <p style="margin: 10px"><b>{{ strength }}</b></p>
  </mat-card-content>
</mat-card>
<!-- <div>
  After getting the message working, put in a progress bar.
</div>
<div>
  You can make your own progress bar, or use open source.
</div>
<div>
  I would take a look at 
  <a href="https://material.angular.io/components/progress-bar/overview">
    https://material.angular.io/components/progress-bar/overview</a>
  </div> -->