
<div class="row vdivide" style="margin-top:5px">
  <div class="col-sm-2">
    <div>
      <h6>Input queue</h6>
      <hr width="100%" style="margin:0;">
    </div>
  </div>
  <div class="col-sm-2" >
      <h6>Requirements Gathering</h6>
      <hr width="100%" style="margin:0;">
  </div>
  <div class="col-sm-2" >
      <div >
          <h6> Work In Progress</h6>
          <hr width="100%" style="margin:0;">
      </div>
   </div>
  <div class="col-sm-2" >
      <div >
          <h6> Quality Assurance</h6>
          <hr width="100%" style="margin:0;">
      </div>
  </div>
  <div class="col-sm-2" >
      <div >
          <h6> User Acceptance</h6>
          <hr width="100%" style="margin:0;">
      </div>
  </div>
  <div class="col-sm-2" >
      <div>
          <h6>Done</h6>
          <hr width="100%" style="margin:0;">
      </div>
  </div>
</div>

<br/>
<div class="row vdivide" >
    <div class="col-sm-2 card text-center" >
        <div class="card-body">
          <h5 class="card-title">issue.name</h5>
          <a href="#">More On issue</a>
        </div>
        <div class="card-footer text-rigth">
          date:'shortDate'
        </div>
    </div>
    <div class="col-sm-2" >
        
    </div>
    <div class="col-sm-2" >
        
    </div>
    <div class="col-sm-2" >
      
    </div>
    <div class="col-sm-2" >
    
    </div>
    <div class="col-sm-2" >
  
    </div>
</div>