<div class="sidenav">
    <a class="active" href="#home">Home</a>
    <a href="#Chat">Chat</a>
    <a href="#contact">Issue Tracker</a>
</div>

<div class="css-script-clear"></div>
  
<div class="container">
  <div class="content">
    <h1>Tasks</h1>
    <p class="tagline">board</p>
    
    <form (ngSubmit)="handleForm()">
      <div class="inputContainer">
        <input type="text" id="description" [(ngModel)]="description" name="description" class="taskName" placeholder="Assign Person Name and Task">
        <label for="description">Description</label>
      </div>

      <div class="inputContainer half last"> <i class="fa fa-caret-down selectArrow"></i>
        <select id="category" class="taskCategory" [(ngModel)]="label" name="label">
          <option value="high" style="background:#FF0000;">High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>
        </select>
        <label for="category">Label</label>
      </div>

      <div class="inputContainer half last right">
        <input type="date" id="dueDate" class="taskDate" [(ngModel)]="date" name="date">
        <label for="dueDate">Due Date</label>
      </div>

      <div class="row">
        <button class="taskAdd">
          <i class="fa fa-plus icon"></i>
          Add task
        </button>
        <button class="taskDelete">
            <i class="fa fa-trash-o icon"></i>
            Delete Tasks
          </button>
      </div>
    </form>
  </div>
</div>

<div id="trello-flex-layout" *ngIf="todos.length > 0">
    <div class="column">
      <h1>Doing</h1>
      <ul class="taskList">
        <li class="taskItem" *ngFor="let todo of todos; let index = i;">
          <input type="checkbox" class="taskCheckbox" (click)="handleCheckbox(todo)">
          <span class="complete-false">{{ todo.description }}</span>
          <span class="category-label">{{ todo.label }}</span>
          <strong class="taskDate complete-false">
            <i class="fa fa-calendar"></i> {{ todo.date }}
          </strong>
        </li>
      </ul>
    </div>

    <div class="column">
      <h1>Done</h1>
      <ul class="taskList">
        <li class="taskItem" *ngFor="let todo of todos; let index = i;">
          <div *ngIf="todo.completed">
            <input type="checkbox" class="taskCheckbox">
            <span class="complete-true">{{ todo.description }}</span>
            <span class="category-false">{{ todo.date }}</span>
            <strong class="taskDate complete-true">
              <i class="fa fa-calendar"></i> {{ todo.label }}
            </strong>
          </div>
        </li>
      </ul>
    </div>
  </div>